---
import { getCollection } from 'astro:content';
import Section from '../components/Section.astro';
import HorizontalSeparator from '../components/HorizontalSeparator.astro';
import ButtonLink from '../components/ButtonLink.astro';
import BlogCard from '../components/BlogCard.astro';
import Layout from '../layouts/Layout.astro';
import NavBar from '../components/NavBar.astro';
import HeaderDescription from '../components/HeaderDescription.astro';

const posts = await getCollection('blog');

const heading = 'CV';
---
<NavBar />
<Layout title="Blog">
  
  <Section>
  <HeaderDescription heading="CV" description="Web Developer And Software Developer" links={true}/>

  </Section>
</Layout>
