---
import { getCollection } from 'astro:content';
import Section from '../components/Section.astro';
import HorizontalSeparator from '../components/HorizontalSeparator.astro';
import Layout from '../layouts/Layout.astro';
import NavBar from '../components/NavBar.astro';
import HeaderDescription from '../components/HeaderDescription.astro';
import CvContent from '../components/CvPage/CvContent.astro';
import Head from '../components/Head.astro';



---

<Layout barba='cv'>
<NavBar />
  <Section>
    <HeaderDescription heading="CV" description="Web Developer And Software Developer" links={true}/>
    <CvContent />
  </Section>
</Layout>

