---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
import HorizontalSeparator from "../components/HorizontalSeparator.astro";
import NavBar from "../components/NavBar.astro";
import HeaderDescription from "../components/HeaderDescription.astro";
import ProjectCard from "../components/Projects/ProjectCard.astro";

const projects = await getCollection("project");

const websites = await getCollection("websites");

const games = await getCollection("games");


---



<Layout>
  <NavBar/>
  <Section gridForm={true}>
    <HeaderDescription heading="Projects" description="List of some of the projects I have or I am currently working on."/>


    <div id="grid-separator">
      <h2>Software</h2>
      <div class="grid-enclauser">
        <ProjectCard projectMade={projects}/>
      </div>

      <h2>Games</h2>
      <div class="grid-enclauser">
        <ProjectCard projectMade={games}/>
      </div>

      <h2>Websites</h2>
      <div class="grid-enclauser">
        <ProjectCard projectMade={websites}/>
      </div>


    </div>
  </Section>
</Layout>



<style is:global>

  #grid-separator{
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;

    h2{
      font-size: 20px;
      color: var(--light);
      user-select: none;
      padding-top: 12px;
    }
  }

  @media (max-width: 800px) {
    #grid-separator{
      grid-template-columns: 1fr; /* Uma coluna única para telas grandes */
    }
  }

  a{
    text-decoration: none;


    :hover{
      background-color: var(--secondary);
    }
  }

  .card {
    overflow: hidden;
    display: flex;
    gap: 40px;
    padding: 12px;

    

    h3{
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 4px;
    }

    .description {
      font-size: 14px;
    }

    img {
      height: 200px;
      width: 200px;
      object-fit: cover;
    }

    .button-container {
      display: flex;
      gap: 10px;
      margin-top: 10px;
    }
    
    
    @media (max-width: 800px) {
      #grid-separator{
        display: grid;
        grid-template-columns: auto;
      }

      & {
        flex-direction: column;
      }

      img {
        align-self: center;
      }
    }

    @media (max-width: 600px) {
      .button-container {
        flex-direction: column;
        gap: 10px;
      }
    }
  }
</style>
