---
import { getCollection } from 'astro:content';
import SectionHeader from './SectionHeader.astro';
import Section from './Section.astro';
import HorizontalSeparator from './HorizontalSeparator.astro';
import ButtonLink from './ButtonLink.astro';
import BlogCard from './BlogCard.astro';

//query blog posts

const posts = await getCollection('blog');

const heading = 'Blog';
const cta = {text: 'View blog', href:"/blog"};
---

<!-- wrap with Section -->
<Section>
  <SectionHeader cta={cta} heading={heading}/>
  {
    posts.map(blog => (
      <BlogCard blog={blog}/>
      <HorizontalSeparator/>
    ))

  }

</Section>

<style>
  
</style>