---
import HorizontalSeparatorSection from "./HorizontalSeparatorSection.astro";


interface Props{
  heading: string,
  description: string,
  links?: boolean,
  inverter?: boolean
}

const {heading, description, links, inverter = false} = Astro.props;

---


<div id="header-description">
  {inverter &&
    <p>{description}</p>
    <h1>{heading}</h1>
  }

  {!inverter &&
    <h1>{heading}</h1>
    <p>{description}</p>
  }
  {links && 
    <div class="icons-container">
      <a href="mailto:nicolas2004pitz@gmail.com" target="_blank"><img src="/images/icons/email.svg" alt="Email Placeholder"></a>
      <a href="https://github.com/nicolas4pitz" target="_blank"><img src="/images/icons/github.svg" alt="Github Logo"></a>
      <a href="https://www.linkedin.com/in/nicolas-pitz/" target="_blank"><img src="/images/icons/linkedin.svg" alt="Linkedin Logo"></a>
      <!-- <a href=""><img src="/images/icons/x.svg" alt="X Logo"></a>-->
    </div>
  }
  <HorizontalSeparatorSection />
</div>



<style is:global>

#header-description{

  h1{
    margin-bottom: 10px;
    font-size: 5.5rem;
    text-transform: uppercase;

    @media (max-width: 500px) {
      &{
        font-size: 3rem;
      }
    }
  }

  p{
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: 500;
  }

  .icons-container{
    display: flex;
    gap: 40px;
    align-items: center;
  }

  img{

    width: 2rem;
    height: 2rem;

    @media (max-width: 500px) {
      &{
        width: 1.4rem;
        height: 1.4rem;
      }
    }
  }

  a:hover{

    img{
      filter: brightness(0) saturate(100%) invert(27%) sepia(51%) saturate(2878%) hue-rotate(246deg) brightness(104%) contrast(99%);
    }
  }

}

</style>