---
import SectionMainPage from './MainPage/SectionMainPage.astro'
import ButtonLinkMainPage from "./MainPage/ButtonLinkMainPage.astro"
---



<SectionMainPage>
  <header id="header" class="tilt-element">
    <div id="content-header">
      <h1>
        Nícolas Pitz</h1>
      <span>Web Design & Developer</span>
    </div>
    
    <div class="button-container">
      <ButtonLinkMainPage href="/cv" text="CV"/>
      <ButtonLinkMainPage href="/about" text="ABOUT ME"/>
      <ButtonLinkMainPage href="/projects" text="PROJECTS"/>
      <ButtonLinkMainPage href="#" text="BOOK REVIEW"/>
    </div>
    <div class="imgs">
      <img src="images/placeholder.png" alt="placeholder"/>
    </div>
    
  </header>
</SectionMainPage>


<script>
  import VanillaTilt from 'vanilla-tilt';
  
  document.addEventListener('DOMContentLoaded', () => {
    VanillaTilt.init(document.querySelector(".tilt-element"), {
      max: 5,
      speed: 400,
      scale: 1.0,
      perspective: 2000,
      "mouse-event-element":  true,
      "full-page-listening": true
    });
  });
</script>


<style>

  body{
    margin: 0;
  }

  #header{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 60px;

    @media (max-width: 800px) {
      &{
        grid-template-columns: 1fr; /* Uma coluna única */
        grid-template-rows: auto auto; /* Duas linhas automáticas */
      }
    }

    #content-header{
      grid-column: span 2 / span 2;

      @media (max-width: 800px) {
        grid-column: 1; /* Ocupa a única coluna disponível */
      }
      
      h1{
        font-size: 144px;
        display: block;
        text-align: justify;
        text-align-last: justify;

        @media (max-width: 1000px) {
          &{
            font-size: 13vw;
            margin-bottom: 20px;
          }
        }
      }

      span{
        font-size: 26px;
        display: block;
        text-align: justify;
        text-align-last: justify;

        @media (max-width: 800px) {
          &{
            font-size: 6vw;
          }
        }
      }
    }

    .button-container{
      grid-row-start: 2;
      text-align: right;

      @media (max-width: 800px) {
        grid-column: 1; /* Ocupa a única coluna disponível */
        grid-row: 2;
        text-align: center; /* Centraliza os botões */
        width: 85%; /* Garante que ocupe toda a largura */
        margin: 0 auto;
      }
    }

    .imgs{
      grid-row-start: 2;
      text-align: right;

      img{
        width: 260px;
      }

      @media (max-width: 800px) {
        &{
          display: none;
        }
      }
    }
  }
  
</style>