---
interface Props{
  margin?: string
}

const { margin = "" } = Astro.props;
---


<div class=`horizontal-separator ${margin}` style=`margin: ${margin}`></div>


<style>
  .horizontal-separator {
    width: 100%;
    height: 2px;
    background-color: var(--secondary);
    margin: 40px 0;
  }
</style>