---
import Container from "./Container.astro"
import ButtonLinkNavBar from "./NavBar/ButtonLinkNavBar.astro"

---

<nav class="nav">
  <Container padding="16px">
    <div class="nav-container">
      <div id="nav-container-image">
        <a href="/"><img src="/images/np.svg" alt="Astra"/></a>
      </div>
      <ul class="nav-items">
        <li>
          <ButtonLinkNavBar href="/projects" text="Projects"/>
        </li>
        <li>
          <ButtonLinkNavBar href="/now" text="Now"/>
        </li>
        <li>
          <ButtonLinkNavBar href="/cv" text="CV"/>
        </li>
        <li>
          <ButtonLinkNavBar href="/contact" text="Contact"/>
        </li>
      </ul>
    </div>
  </Container>
</nav>


<style>
  nav {
    background: var(--secondary);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 200px;
    z-index: 1000;

    img {
      height: 20px;
    }

    .nav-container {
      display: flex;
      flex-direction: column;
      height: 100%;
      gap: 40px;
      align-items: flex-start;

      .nav-items {
        width: 100%;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 4px;
        margin: 0;
        padding: 0;

        a {
          font-size: 14px;
        }
      }

      

      @media screen and (max-width: 750px) {
        & {
          width: 100%;
          padding: 16px;
        }
      }
    }
  }

  /* Adicione esta classe global para ajustar o conteúdo principal */
  :global(body) {
    margin-left: 250px;
  }


  @media screen and (max-width: 750px) {
    nav {
      position: relative;
      height: auto;
      width: 100%;
    }
    
    :global(body) {
      margin-left: 0;
    }
  }
</style>