---

interface Props {
  texts: Array<String>;
}

const { texts } = Astro.props;

---


<div class="section-text">
  { texts.map( texto => (
    <p>{texto}</p>
  ))

  }
</div>


<style>
  .section-text{
    display: grid;
    gap: 24px;
  }

  p{
    font-size: 1rem;
    line-height: 1.5rem;

    @media (max-width: 500px) {
      &{
        font-size: 0.9rem;
        line-height: 1.3rem;
      }
    }
  }
</style>