---
import { getCollection, render, type CollectionEntry } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Section from "../../components/Section.astro";
import NavBar from "../../components/NavBar.astro";
import Head from "../../components/Head.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: {slug: post.id},
    props: { post }
  }))
}

interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;

//Automaticamente converte o markdowm para um componente possivel de ser instanciado na pagina
const { Content } = await render(post);
---

<Layout>
<NavBar />

  <Section>
    <div class="post">
      <h1 class="post-title">{post.data.title}</h1>
      <div class="post-div">
        <span class="post-date">{post.data.date}</span>
        <a href=`${post.data.liveSiteURL ? post.data.liveSiteURL : post.data.githubURL}` rel=`Link para pagina do Github do projeto ${post.data.title}` target="_blank" class="post-giturl">{() =>{
          if(post.data.liveSiteURL){
            const url = post.data.liveSiteURL.match(/github\.com\/([^\/]+)\/([^\/]+)/)
            if(url){
              return url[1] + "/" + url[2]
            }
          }

          const url = post.data.githubURL.match(/github\.com\/([^\/]+)\/([^\/]+)/)
          if(url){
            return url[1] + "/" + url[2]
          }
          
        }
        }</a>
      </div>
      <img src={post.data.image} alt=" " class="post-image"/>
      <Content/>
    </div>
  </Section>
</Layout>


<style>
  .post {

    p {
      font-size: 1rem;
      line-height: 1.5rem;

      @media (max-width: 500px) {
        &{
          font-size: 0.9rem;
          line-height: 1.3rem;
        }
      }
    }


    ul, ol{
      display: flex;
      flex-direction: column;
      line-height: 1.5rem;
      font-size: 1rem;
    }

    .post-image {
      width: 100%;
      object-fit: cover;
      margin-bottom: 40px;
      border-radius: 10px;
    }

    .post-div{
      display: flex;
      flex-wrap: nowrap;
      gap: 20px;
      font-size: 0.8rem;
      margin-bottom: 20px;
      line-height: 24px;
    }

    .post-title {
      margin-bottom: 16px;
    }

    .post-date {
      color: var(--light);
    }

    .post-giturl{
      color: var(--light);
      text-decoration: none;
      cursor: pointer;
    }

    .post-giturl:hover{
      color: var(--primary);
      text-decoration: underline;
      cursor: pointer;
    }

    h2 {
      margin-bottom: 20px;
      margin-top: 30px;
    }
  }
</style>
