---
import Head from '../components/Head.astro';


interface Props {
  barba?: string;
}

const { barba = "null" } = Astro.props;

---

<!doctype html>
<html lang="en">
  <Head />

  <body data-barba="wrapper">

    <div class="wrapper" data-barba="container" data-barba-namespace={barba}>
      <slot />
    </div>

    
  </body>
  
  <style is:global>
    body {
      margin: 0;
      padding: 0;
      font-family: 'Epilogue', sans-serif;
    }

    h1 {
    weight: 700;
    font-size: 44px;
    margin-bottom: 80px;
  }

    p {
      line-height: 24px;
    }

    pre {
      padding: 16px;
      border-radius: 5px;
    }
    
    * {
      box-sizing: border-box;
      color: var(--dark);
      margin: 0;
    }

    :root {
      --primary: #402eff;
      --secondary: #f8f9ff;
      --white: #ffffff;
      --dark: #21243d;
      --light: #8695a4;
    }
  </style>
</html>